<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
    <title>Mythical Creature Library</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1 class="main-title">Mythical Creature Library</h1>
</body>
<h2 class="creature-of-the-week">
    Mythical Creature of the Week: <span>Drakons</span>
</h2>
<p class="creature-of-the-week-info">
    Drakons are creatures from Greek Mythology with enormous serpentine bodies, often with crests, beards or multiple heads. They lacked wings and typically moved by slithering. They primarily live in deep caverns, sacred groves and remote springs. They are often sleepless and possess a "gaze" that can paralyze victims.
</p>
<img src="images/logo.png" alt="Drakon">

<form action="/search" method="GET">
    <input
        type="text"
        name="query"
        placeholder="Search mythical creatures..."
        required
    >
    <button type="submit">Search</button>
</form>

</html>