{% extends "base.html" %}


{% block title %}
The Mythology Bodleian
{% endblock %}


{% block content %}

<h1 class="main-title">
    The Mythology Bodleian
</h1>


{% if creature %}

<div class="creature-container">

    <div class="creature-text">

        <h2 class="creature-of-the-week">
            Mythical Creature of the Week:
            <span class="{{ creature['font_class'] }}">
                {{ creature['name'] }}
            </span>
        </h2>

        <p class="creature-of-the-week-info">
            {{ creature['appearance'] }}
        </p>

    </div>

    {% if creature['image'] %}

    <div class="creature-image">

        <img
            src="{{ url_for('static', filename='images/' + creature['image']) }}"
            alt="{{ creature['name'] }}"
        >

    </div>

    {% endif %}

</div>

{% endif %}


<img
    src="{{ url_for('static', filename='images/logo.png') }}"
    alt="The Mythology Bodleian logo"
>


<section class="mythology-section">

    <h2 class="mythology-heading">
        Browse by Mythology
    </h2>


    <div class="mythology-grid">

        <a href="/greek" class="mythology-card">

            <img
                src="{{ url_for('static', filename='images/greek.jpg') }}"
                alt="Ancient Greek Mythology"
            >

            <div class="mythology-title">
                Ancient Greek
            </div>

        </a>


        <a href="/norse" class="mythology-card">

            <img
                src="{{ url_for('static', filename='images/norse.jpg') }}"
                alt="Norse Mythology"
            >

            <div class="mythology-title">
                Norse
            </div>

        </a>


        <a href="/egyptian" class="mythology-card">

            <img
                src="{{ url_for('static', filename='images/egyptian.jpg') }}"
                alt="Ancient Egyptian Mythology"
            >

            <div class="mythology-title">
                Ancient Egyptian
            </div>

        </a>

    </div>

</section>

{% endblock %}