body {
    margin: 0;
    background-color: #0f172a;
    font-family: Arial, sans-serif;
}

.main-title {
    text-align: center;
    font-size: 60px;
    color: #38bdf8;
    margin-top: 100px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.main-title {
    text-shadow: 0 0 10px #38bdf8, 0 0 20px #38bdf8
}