body {
    margin: 0;
    background-color: #f6f1e8;
    font-family: "cinzel decorative", "lora";
}

.main-title {
    text-align: center;
    font-size: 60px;
    color: #a2674b;
    margin-top: 100px;
    letter-spacing: 3px;
}

.main-title {
    text-shadow: 0 0 10px #c9a55c, 0 0 20px #c9a55c
}